*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Persona';
    src: url(../fonts/p5hatty.ttf);
}

body {
    background-image: url("../images/persona5-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    font-family: 'Persona', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(pink ,darkred);
    width: 300px;
    height: 600px;
    margin: auto;
}

.border-style {
    border-radius: 20px;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    font-size: medium;
    font-weight: bold;
}

h1, h3 {
    text-shadow: 0 0 5px  black;
    transition: text-shadow 0.3s ease;
}

h1:hover, h3:hover {
    text-shadow: 0 0 10px black;
}

p {
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    color: red;
    text-shadow: 0 0 5px white;
    letter-spacing: 5px;
    width: 200px;
    transition: text-shadow 0.3s ease;
}

p:hover {
    text-shadow: 0 0 10px white;
}

#player-el {
    color: white;
}

#startGame-btn {
    /* background: linear-gradient(#FF3342, #FF0012); */
    background-color: #FF0012;
    color: white;
    transition: background-color 0.3s ease;
}

#startGame-btn:hover {
    background-color: #ffff00;
    color: black;
}

#newCard-btn {
    /* background: linear-gradient(#8d967b, #847B96); */
    background-color: #8d967b;
    color: white;
    transition: background-color 0.3s ease;
}

#newCard-btn:hover {
    background-color: #ffff00;
    color: black;
}